/*
 * retro.css
 * by Martin A. COLEMAN. Dedicated to the public domain.
 */
input.flat {
border: 2px solid #663300;
padding: 5px 10px;
font-size: 12pt;
}

#summary {
font-size: 10pt;
}
#title {
font-size: 18pt;
text-align: center;
margin: auto;
font-weight: bold;
};
.button {
padding: 5px 10px;
vertical-align: middle;
border-radius: 8px;
background-color: #cfcfcf;
}

#endnotice {
text-align: center;
margin: auto;
font-size: 8pt;
}
table, th, td {
border: 1px solid black;
}

#wrapper {
width: 80%;
}
#updated {
width: 20%;
}
#content {
width: 80%;
};
